/* Existing Styles */
.vulpes-lms-shortcodes table {
    width: 100%;
    border-collapse: collapse;
}

.vulpes-lms-shortcodes table th,
.vulpes-lms-shortcodes table td {
    text-align: left;
    padding: 8px;
    border: none; /* Remove borders */
}

.vulpes-user-profile {
    text-align: center;
}

.vulpes-user-profile .user-avatar img,
.vulpes-lms-shortcodes .user-avatar img {
    border-radius: 50%;
    width: 150px; /* Adjust width to make the avatar bigger */
    height: 150px; /* Adjust height to make the avatar bigger */
}

.vulpes-user-profile h2 {
    margin: 0;
    font-size: 24px;
    padding-bottom: 10px; /* Add padding below the avatar */
}

.vulpes-user-profile h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
}

.vulpes-user-profile hr {
    border: 0;
    border-top: 1px solid #5F6C82;
}

.vulpes-user-profile .user-info p {
    margin: 10px 0;
    font-size: 16px;
}

.vulpes-lms-shortcodes .wrap {
    display: flex;
    justify-content: space-between;
}

.vulpes-lms-shortcodes .user-avatar {
    text-align: center;
    margin-bottom: 20px;
}

.vulpes-lms-shortcodes .progress-container {
    display: flex;
    align-items: center;
}

.vulpes-lms-shortcodes .progress-label {
    margin-right: 10px;
    font-weight: bold;
}

.vulpes-lms-shortcodes .progress-bar {
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    flex-grow: 1;
}

.vulpes-lms-shortcodes .progress {
    background-color: #4caf50; /* Green color */
    height: 100%;
    text-align: center;
    color: white;
    line-height: 20px; /* Align text vertically */
}

.vulpes-lms-shortcodes .filters {
    margin-bottom: 20px;
}

.vulpes-lms-shortcodes .filter-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.vulpes-lms-shortcodes input[type="text"],
.vulpes-lms-shortcodes input[type="date"] {
    width: 48%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.vulpes-lms-shortcodes .clear-filters {
    display: inline-block;
    margin-top: 10px;
    color: #0073aa;
    text-decoration: none;
}

.vulpes-lms-shortcodes .clear-filters:hover {
    text-decoration: underline;
}

/* Container for the skills table */
.vulpes-lms-shortcodes .vulpes-user-skills-container {
    margin: 0px 0;
}

/* Table styling */
.vulpes-lms-shortcodes .vulpes-skill-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;
}

.vulpes-lms-shortcodes .vulpes-skill-table td {
    text-align: left;
    padding: 0px;
    border: none; /* Ensure no borders as per original request */
}

/* Child skill styling */
.vulpes-lms-shortcodes .child-skill td {
    padding-left: 0px;
}

/* Progress bar image styling with !important */
.vulpes-lms-shortcodes .child-skill img {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px; /* Add space after the progress bar image */
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
}
