.vulpes-lms-shortcodes table {
    width: 100%;
    border-collapse: collapse;
}

.vulpes-lms-shortcodes table th,
.vulpes-lms-shortcodes table td {
    text-align: left;
    padding: 8px;
    border: none; /* Remove borders */
}

.vulpes-user-profile {
    text-align: center;
}

.vulpes-user-profile .user-avatar img,
.vulpes-lms-shortcodes .user-avatar img {
    border-radius: 50%;
    width: 150px; /* Adjust width to make the avatar bigger */
    height: 150px; /* Adjust height to make the avatar bigger */
}

.vulpes-user-profile h2 {
    margin: 0;
    font-size: 24px;
}

.vulpes-user-profile h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
}

.vulpes-user-profile hr {
    border: 0;
    border-top: 1px solid #5F6C82;
}

.vulpes-user-profile .user-info p {
    margin: 10px 0;
    font-size: 16px;
}

.vulpes-lms-shortcodes .wrap {
    display: flex;
    justify-content: space-between;
}

.vulpes-lms-shortcodes .user-avatar {
    text-align: center;
    margin-bottom: 20px;
}

.vulpes-lms-shortcodes .progress-container {
    display: flex;
    align-items: center;
}

.vulpes-lms-shortcodes .progress-label {
    margin-right: 10px;
    font-weight: bold;
}

.vulpes-lms-shortcodes .progress-bar {
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    flex-grow: 1;
}

.vulpes-lms-shortcodes .progress {
    background-color: #4caf50; /* Green color */
    height: 100%;
    text-align: center;
    color: white;
    line-height: 20px; /* Align text vertically */
}